.Home {
  text-align: center;
  background-color: #282c34;
  /* background: url("../img/self-portrait.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 75%; */
}

.Home__header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  font-size: calc(10px + 5vh);
  font-weight: bold;
  color: #f2efe0;
  font-family: monospace;
  padding: 0;
  margin: 4vh 0 4vh 0;
}

.Home__button {
  background-color: transparent;
  color: #e2bf84;
  border: none;
  box-shadow: none;
  font-size: calc(6px + 2.5vh);
  font-family: monospace;
  padding-bottom: 20px;
  transition: all 0.2s ease;
}

.Home__button:hover {
  text-decoration: underline;
  color: #f2efe0;
}

.Home__portrait {
  top: 50;
  left: 50;
  height: 30vh;
  border-radius: 50%;
}
