.Home {
  text-align: center;
  background-color: #282c34;
}

.Home__header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  font-size: calc(50px + 2vmin);
  font-weight: bold;
  color: white;
  font-family: monospace;
}

.Home__button {
  background-color: transparent;
  color: grey;
  border: none;
  box-shadow: none;
  font-size: calc(15px + 2vmin);
  font-family: monospace;
  padding-bottom: 20px;
}

.Home__button:hover {
  text-decoration: underline;
}
