.NoGitHub {
  text-align: center;
  background-color: #282c34;
}

.NoGitHub__header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NoGitHub__title {
  font-family: monospace;
  font-size: calc(4px + 2vh);
  color: #f2efe0;
}
