.Projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}

#title {
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
  color: f0ebce;
}

.Projects__container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
