.EducationCard {
  border: 2px solid grey;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: monospace;
  padding: 3vh 2vw;
  width: 100%;
}

.EducationCard__title {
  font-size: 28px;
}

.EducationCard--with-icon {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
