.ExperienceCard {
  border: 2px solid grey;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: monospace;
  padding: 3vh 2vw;
  width: 100%;
}

.ExperienceCard__title {
  font-size: 28px;
}

.ExperienceCard--with-icon {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}
