.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #282c34;
  color: white;
  font-family: monospace;
  padding: 0 4vw;
}

.NavBar__title {
  font-size: 2rem;
}

.NavBar__buttons__container {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
}

.NavBar__button {
  background-color: transparent;
  color: grey;
  border: none;
  font-size: 1.5rem;
  font-family: monospace;
}

.NavBar__button:hover {
  text-decoration: underline;
}
