.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #373c47;
  color: #f0ebce;
  font-family: monospace;
  padding: 0 4vw;
}

.NavBar__title {
  font-size: calc(7.5px + 3vh);
}

.NavBar__bars_button {
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.NavBar__xmark_button {
  align-self: end;
}

.NavBar__buttons__container {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.NavBar__button {
  background-color: transparent;
  color: #e2bf84;
  border: none;
  font-size: calc(4px + 2.5vh);
  font-family: monospace;
  transition: all 0.2s ease;
}

.NavBar__button:hover,
.NavBar__button:active {
  text-decoration: underline;
  color: #f0ebce;
}

.NavBar__disabled-button {
  background-color: transparent;
  text-decoration: underline;
  color: #f0ebce;
  border: none;
  font-size: calc(4px + 2.5vh);
  font-family: monospace;
}

.NavBar__drawer__button-container {
  background-color: #373c47;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  row-gap: 2.5vh;
  padding: 2vh 2vw;
}

.MuiDrawer-paperAnchorRight {
  width: 40vw;
}
