.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #373c47;
  color: #f0ebce;
  font-family: monospace;
  padding: 0 4vw;
}

.NavBar__title {
  font-size: calc(7.5px + 3vh);
}

.NavBar__bars_button {
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.NavBar__buttons__container {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.NavBar__button {
  background-color: transparent;
  color: #e2bf84;
  border: none;
  font-size: calc(4px + 2.5vh);
  font-family: monospace;
  transition: all 0.2s ease;
}

.NavBar__button:hover {
  text-decoration: underline;
  color: #f0ebce;
}
