.ProjectsCard__button {
  background-color: transparent;
  color: white;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: none;
  font-size: calc(15px + 2vmin);
  font-family: monospace;
  width: 100%;
  padding: 1.5vh 1.5vw;
  transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.ProjectsCard__button:hover {
  color: black;
  border: 2px solid white;
  background-color: white;
}

.ProjectsCard:hover {
  border: 2px solid lime;
}

.ProjectsCard__header {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.ProjectsCard__header__desc {
  text-align: left;
  float: left;
  width: 65%;
}

.ProjectsCard__header__date {
  text-align: right;
  float: right;
  width: 35%;
}

.ProjectsCard-body {
  display: flex;
  align-items: left;
}

#project-title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0;
}

#project-subtitle {
  font-weight: none;
  font-size: 1.25rem;
  margin: 0;
}

#project-date {
  font-size: 1.25rem;
  margin: 0;
}

#project-desc {
  font-size: 1.1rem;
  margin: 0;
  text-align: justify;
}
