.ProjectsCard__button {
  background-color: transparent;
  color: #f2efe0;
  border: 2px solid #c5c5c9;
  border-radius: 10px;
  box-shadow: none;
  font-size: calc(15px + 2vmin);
  font-family: monospace;
  width: 100%;
  padding: 1.5vh 1.5vw;
  transition: all 0.2s ease;
}

.ProjectsCard__button:hover,
.ProjectsCard__button:active {
  color: #282c34;
  border: 2px solid #f2efe0;
  background-color: #f2efe0;
}

.ProjectsCard__header {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 1vh;
  }
}

.ProjectsCard__header__desc {
  text-align: left;

  @media screen and (max-width: 750px) {
    text-align: center;
  }
}

.ProjectsCard-body {
  display: flex;
  align-items: left;
}

.ProjectsCard__title {
  font-size: calc(15px + 0.5vw);
  font-weight: bolder;
  margin: 0;
}

.ProjectsCard__subtitle {
  font-weight: none;
  font-size: calc(12.5px + 0.5vw);
  margin: 0;
}

.ProjectsCard__date {
  font-size: calc(12.5px + 0.5vw);
  margin: 0;
}

.ProjectsCard__desc {
  font-size: calc(10px + 0.5vw);
  margin: 0;
  text-align: justify;
}
