.SelfIntroCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  font-family: monospace;
  color: white;
  text-align: justify;
  width: 100%;
}

.personal-info-section {
  width: 100%;
  color: white;
  size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
