.SkillsProgressBar {
  margin: 1vh 1vw;
  display: flex;
  flex-direction: row;
}

.SkillsProgressBar__skills-image {
  float: left;
  width: 40%;
  margin-right: 1vw;
}

.SkillsProgressBar__progress-bar {
  float: right;
  width: 60%;
  text-align: center;
}

.SkillsProgressBar__progress-bar__text {
  color: #f0ebce;
  font-size: calc(10px + 0.5vw);
  margin-bottom: 1vh;
}

.SkillsProgressBar__progress-bar__container {
  height: 1.2vh;
  width: 100%;
  background-color: #373c47;
  border-radius: 0.5vh;
  margin: 50;
}

.SkillsProgressBar__progress-bar__filler--one {
  height: 100%;
  width: 33.3%;
  background-color: #f0ebce;
  border-radius: inherit;
}

.SkillsProgressBar__progress-bar__filler--two {
  height: 100%;
  width: 66.6%;
  background-color: #f0ebce;
  border-radius: inherit;
}

.SkillsProgressBar__progress-bar__filler--three {
  height: 100%;
  width: 100%;
  background-color: #f0ebce;
  border-radius: inherit;
}
