.SkillsCard {
  border: 2px solid grey;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: monospace;
  padding: 3vh 2vw;
  width: 100%;
}

.SkillsCard__title {
  font-size: 1.75rem;
}

#skills-card__title {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.grid-container {
  display: grid;
  align-self: center;
  grid-template-columns: auto auto auto;
}
