.SkillsProgressBar {
  margin: 1vh 1vw;
}

.SkillsProgressBar-container {
  display: flex;
  flex-direction: row;
}

#skills-image {
  float: left;
  width: 25%;
  margin-right: 1vw;
}

.progress-bar {
  float: right;
  width: 75%;
  align-items: center;
  text-align: center;
}

.progress-bar__text {
  font-size: 15px;
}

.progress-bar__container {
  height: 1.2vh;
  width: 100%;
  background-color: grey;
  border-radius: 0.5vh;
  margin: 50;
}

.progress-bar__filler--one {
  height: 100%;
  width: 33.3%;
  background-color: orange;
  border-radius: inherit;
}

.progress-bar__filler--two {
  height: 100%;
  width: 66.6%;
  background-color: yellow;
  border-radius: inherit;
}

.progress-bar__filler--three {
  height: 100%;
  width: 100%;
  background-color: lime;
  border-radius: inherit;
}
