.Tab__container {
  margin-top: 3vh;
}

.Tab__title {
  font-size: 1.5rem;
}

.Tab__subtitle {
  font-size: 1.25rem;
}

.Tab__date {
  margin: 2vh 0;
}

.Tab__body {
  font-size: 1.1rem;
}

.Tab--with-icon {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}
