.Tab__container {
  margin-top: 3vh;
}

.Tab__title {
  font-size: calc(15px + 0.5vw);
}

.Tab__subtitle {
  font-size: calc(12.5px + 0.5vw);
}

.Tab__date {
  margin: 2vh 0;
}

.Tab__body {
  font-size: calc(10px + 0.5vw);
}

.Tab--with-icon {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}
